* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #000000;
  color: rgb(255, 255, 255);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--primary-color);
}

navbar-links {
  background-color: #000000;
  display: flex;
  align-items: center;
  gap: 1rem;
}
